body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #111;
    color: white;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.chop {
    height: 80vh;
    background: #222;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.chop h1 {
    font-size: 48px;
}

.chop p {
    font-size: 20px;
}

.btn {
    margin-top: 25px;
    padding: 12px 28px;
    background: #ff9800;
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
}


.section {
    padding: 50px;
}

.section h2 {
    text-align: center;
    font-size: 36px;
}

.white-bg {
    background: #fff;
}

.light-bg {
    background: #f7f7f7;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

.card {
    background: white;
    width: 200px;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.product-card {
    width: 220px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.product-card img {
    width: 100%;
    border-radius: 10px;
}

.product-card button {
    padding: 10px 15px;
    border: none;
    background: #111;
    color: white;
    border-radius: 5px;
}

.service-card {
    width: 300px;
    background: white;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.contact-form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contact-form textarea {
    height: 120px;
}

.contact-form button {
    padding: 12px;
    background: #111;
    color: white;
    border: none;
    border-radius: 5px;
}

.footer {
    text-align: center;
    padding: 20px;
    background: #111;
    color: white;
}
